cloud_id                 = "b1g9ae7pijoq9mt4g1er"
folder_id                = "b1gtu0ipj7r4c8eg4d59"
zone                     = "ru-central1-a"
image_id                 = "fd8usmgir7uqnlm369hl"
public_key_path          = "/root/.ssh/appuser.pub"
subnet_id                = "e9btu91c24co22s269ph"
service_account_key_file = "/home/esklyarenko/key.json"
path_private_key         = "/root/.ssh/appuser"
app_disk_image           = "fd8mnkt6dq6tlmnpabgj"
db_disk_image            = "fd8eabni11c82gfh1hm0"

